@model Domain.ViewModels.ContactUs.ContactUsViewModel


<!-- شوع آن -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> درخواست خود را ارسال کنید </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb d-flex bg-white rounded shadow mb-0">
                                <li class=""><a class="link-dark" asp-controller="Home" asp-action="Index">صفحه اصلی </a></li>
                                <li class="bi bi-chevron-left"><a asp-controller="ContactUs" asp-action="Index" class="link-dark">پشتیبانی</a></li>
                                <li class="bi bi-chevron-left active" aria-current="page">ارتباط با ما</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- پایان آن -->
<!-- Start Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12">
                <div class="rounded p-4 shadow">
                    <div class="row">
                        <div class="col-12">
                            <form asp-controller="ContactUs" asp-action="Index">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">نام شما <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input asp-for="FullName" id="name" type="text" class="form-control ps-5" placeholder="نام شما :">
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input asp-for="Email" id="email" type="email" class="form-control ps-5" placeholder="ایمیل شما :">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">موضوع </label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="book" class="fea icon-sm icons"></i>
                                                <input asp-for="Title" id="subject" class="form-control ps-5" placeholder="موضوع شما :">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">پیام</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                <textarea asp-for="Text" id="comments" rows="4" class="form-control ps-5" placeholder="پیام شما :"></textarea>
                                                <span asp-validation-for="Text" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" id="submit" name="send" class="btn btn-primary" value="ارسال">
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form><!--end form-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Section -->


