@model Domain.ViewModels.Admin.UseFulLinks.LinksViewModel
<div class="p-4">
    <form asp-area="AdminPanel" asp-controller="Home" asp-action="AddDynamicLink" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">نام لینک <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                        <input asp-for="LinkName" id="name" type="text" class="form-control ps-5" placeholder="نام لینک :">
                        <span asp-validation-for="LinkName" class="text-danger"></span>
                        </div>
                </div>
            </div><!--end col-->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label"> آدرس لینک <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                        <input asp-for="Address" type="text" class="form-control ps-5" placeholder=" آدرس لینک :">
                   <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                </div>
            </div><!--end col-->
            <div class="form-check">
                <input asp-for="Footer" class="form-check-input" type="checkbox"  id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">فوتر </label>
            </div>
        </div><!--end row-->
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-outline-primary">ایجاد لینک</button>
            </div><!--end col-->
        </div><!--end row-->
    </form><!--end form-->
</div>