    <!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2 mt-5">
                <a href="#" class="logo-footer">
                    <img class="LogoC" src="images/Logo.png" height="124" alt="">
                </a>
                <p class="mt-4">از اینکه "بنویسیم" را برای استفاده انتخاب کردید از شما تشکر میکنیم</p>
            </div>
            

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">لینک های مفید </h5>
                <ul class="list-unstyled footer-list mt-4">
                    @await Component.InvokeAsync("FooterLink")
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">  ساخته شده با  <i class="bi bi-balloon-heart-fill"></i> توسط  <a  href="https://t.me/mohammadreza_Zz0" target="_blank" class="text-reset link-underline-light"> محمدرضا ده نمکی </a>.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  
</footer><!--end footer-->
<!-- Footer End -->