body {
    font-family: IRANSansfanum !important;
}
header {
    font-family: IRANSansfanum !important;
}
a {
    font-family: IRANSansfanum !important;
}
/*Start ../fonts*/
@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/iransansfanum/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iransansfanum/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransansfanum/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransansfanum/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
.LogoC {
    margin-top: -20%;
}
.LayoutAdmin {
    margin-bottom: 15rem !important;
}
.PicProfile {
    width: 30% !important
}

.ContentForm {
    margin-top: 14% !important;
    padding-bottom: 20% !important;
}
.ProfilePicture {
    width: 45px !important;
}

.Pointer {
    cursor: pointer !important
}
.Delete {
    margin-right: -20%;
}

.BannerContent {
    object-fit: cover !important;
    height: 236px !important;
    width: 100% !important;
}

.banner {
    min-height: 550px !important;
    max-height: 551px !important;
}

@media only screen and (min-width:400px) and (max-width:900px) {

    .Edit {
        margin-left: -20% !important;
    }
  
}

@media only screen and (min-width:901px) and (max-width:1200px) {

    .Edit {
        margin-left: -35% !important;
    }
  

}

@media only screen and (min-width:1201px){

    .Edit {
        margin-left: -50% !important;
    }
    
    }

@media only screen and (min-width:280px)and (max-width: 770px) {

    .SearchBox {
        margin-top: 100px !important;
    }
    .galleryImages {
        height: 445px !important;
        
    }
    .Gallery-text {
        font-size: 20px !important;
    }
}