@{
    ViewData["Title"] = "صفحه اصلی";

}

<div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                   
                        <!-- Statistics -->
                        @await Component.InvokeAsync("State")
                        <!--/ Statistics -->

                        <!-- Popular Product -->
                        @await Component.InvokeAsync("MostViewContents")
                        <!--/ Popular Product -->
               
                    </div>
                </div>
                <!-- / Content -->

            </div>