@using System.Security.Claims
<div class="layout-wrapper layout-content-navbar">
    <div class="">
        <!-- Menu -->
        <aside class="layout-menu menu-vertical menu bg-menu-theme" id="layout-menu">
            <div class="app-brand demo">
                <a class="layout-menu-toggle menu-link text-large ms-auto" href="javascript:void(0);">
                    <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                    <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                </a>
            </div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1 ">
                <!-- Page -->
                <li class="menu-item active">
                    <a class="menu-link" asp-area="AdminPanel" asp-controller="Home" asp-action="Index">
                        <i class="menu-icon tf-icons ti ti-app-window"></i>
                        <div data-i18n="Page 2">صفحه اصلی </div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" asp-area="AdminPanel" asp-controller="ApplicationUsers" asp-action="Index">
                        <i class="menu-icon tf-icons ti ti-users"></i>
                        <div data-i18n="Page 1">لیست کاربران</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link menu-toggle" href="javascript:void(0);">
                        <i class="menu-icon tf-icons ti ti-layout-kanban"></i>
                        <div data-i18n="Layouts">مدیریت برنامه</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a class="menu-link" asp-area="AdminPanel" asp-controller="Category" asp-action="Index">
                                <div data-i18n="Collapsed menu">دسته بندی ها</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-area="AdminPanel" asp-controller="AdminContent" asp-action="Index">
                                <div data-i18n="Content navbar">محتوا ها</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-area="AdminPanel" asp-controller="Contact" asp-action="Index">
                                <div data-i18n="Content nav + Sidebar">پیام ها</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-area="AdminPanel" asp-controller="Report" asp-action="Index" >
                                <div data-i18n="Horizontal">گزارشات</div>
                            </a>
                        </li>
            
                    </ul>
                </li>
              
                <li class="menu-item ">
                    <a class="menu-link" asp-area="AdminPanel" asp-controller="Home" asp-action="AddDynamicLink">
                        <i class="ti ti-layout-navbar"></i>
                        <div data-i18n="Page 1"> مدیریت لینک ها </div>
                    </a>
                </li>

            </ul>
        </aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="LayoutAdmin">
            <!-- Navbar -->

            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="ti ti-menu-2 ti-sm"></i>
                    </a>
                </div>
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- User -->
                        @await Component.InvokeAsync("UserInfo",int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                        <!--/ User -->
                    </ul>
                </div>
            </nav>
            <!-- / Navbar -->
            <!-- Content wrapper -->

            
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
