@model Domain.ViewModels.User.UserViewModel



@if ( Model.IsAdmin == true)
{
    <li><a asp-area="AdminPanel" asp-controller="Home" asp-action="Index" class="sub-menu-item "> پنل سمت ادمین</a></li>

}