@model Domain.ViewModels.Message.MessageViewModel


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش پیام</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Message" asp-action="EditMessage">
                <div class="modal-body">
                <input type="hidden"  asp-for="ContentId" id="ContentId"/>
                <input type="hidden"  asp-for="id" id="MessageId" />
                <textarea asp-for="text" id="MessageText" rows="5" class="form-control ps-5"></textarea>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-outline-primary">ارسال</button>
            </div>
            </form>
        </div>
    </div>
</div>
