@model Domain.ViewModels.Content.FilterContentViewModel
<form class="SearchBox" asp-controller="Content" asp-action="Index" style="max-width: 800px;">
    <input  type="text" id="course" asp-for="Title" class="rounded-pill shadow-md bg-white" placeholder="جستجوی کلمه کلیدی...">
    <button type="submit" class="btn btn-pills btn-primary">جستجو </button>
</form><!--end form-->